/*********************
GENERAL
*********************/
html{
  background-color:#EEE;
}

a{
  text-decoration: none;
  color: white;
}
body{
  margin: 0;
}
/*********************
HEADER
*********************/

header h1{
  font-family: sans-serif;
  text-align:center;
  color: white;
}

header{
  float: left;
  width: 100%;
  background-color: #d02090;
  margin: 0 0 1px 0;
  padding: 5px 0 0 0;
}
/*********************
NAV
*********************/
nav {
  text-align: center;
  
}
nav li{   
  display: block;
}
nav ul{
  padding:0;
  margin: 0;
  background-color: #ff69b4;
  list-style: none;
  font-weight: bold;
}
/*********************
FILTER
*********************/
.filter {
  text-align: center;
  background-color: #ff69b4;
  opacity: 0.4;
}

.filter ul{
  padding:0;
  margin: 0;
  list-style: none;
  font-weight: bold;
}

.filter p{
  margin: 5px 0;
}

.filter h3{
  padding:0;
  display: inline;
}
/*********************
COVERS
*********************/
img {
  max-width:100%;
}

.trans{
  opacity: 0.4;
}

#variants{
  list-style: none;
  margin: 0;
  padding: 0;
}


#variants li{
  float: left;
  background-color: #GGG;
  width: 45%;
  margin: 2.5%;
  
}

#variants li p{
  display: block;
  text-align: center;
  margin: 0%;
  font-size: 1em;
  font-weight: bold;
}

#variants li form{
  display:block;
  text-align: center;
}

#variants li img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#variants .forma{
  display: inline-block;
  width:50%;
}
/*********************
BODY
*********************/
.room{
  text-align: center;
}
/*********************
BOTTOM
*********************/
.bottom{
  text-align: center;
  clear: both;
}
.bottom a{
  color: black;
}