@media screen and (min-width: 586px) {
/*********************
NAV
*********************/

nav li{   
  display: inline-block;
  padding: 10px 0;    
  text-align: center;
  width: 30%;
  height: auto;
  
}

/*********************
FILTER
*********************/

.filter li{   
  display: inline-block;
  width: 24%;
}


/*********************
COVERS
*********************/
  
#variants li{
  width: 28.33%;
  margin: 2.5%;
}
}

@media screen and (min-width: 730px) {

/*********************
COVERS
*********************/
  
#variants li{
  width: 22%;
  margin: 1.5%;
}
  
}

@media screen and (min-width: 960px) {

/*********************
COVERS
*********************/
  
#variants li{
  width: 17%;
  margin: 1.5%;
}
  
}

@media screen and (min-width: 1200px) {

/*********************
COVERS
*********************/
  
#variants li{
  width: 14%;
  margin: 1.33%;
}
  
}

@media screen and (min-width: 1400px) {

/*********************
COVERS
*********************/
  
#variants li{
  width: 12%;
  margin: 2.33%;
}
  
}